{% load static %}
<li>
                <article class="post">
                    <a href={% url "post-detail-page" slug="the-universe" %}>
                        <img src="{% static "blog/images/universe.jpg" %}" alt="The Universe">
                        <div class="post__content">
                        </div>
                        <h3> The Universe </h3>
                        <p>A Brief Rant by Marvin, the Paranoid Android</p>

                    </a>

                </article>
            </li>